# ignore temporary files
.*.swp
\#*#
*.pyc
*.o
*.hi
*.dump
*.log
*.rej
*.orig
*.patch
*.diff
.tags*
*.txt

# ignore executables
/src/mica/test
/src/libhrd/main
/src/ccKVS/ccKVS-lin
/src/ccKVS/ccKVS-sc

# ignore debug files
/debug/*.txt

# ignore traces
/traces/*.txt
/traces/system-traces/*.txt
/traces/current-splited-traces/*.txt

# ignore ide files
/.idea/
/cmake-build-debug/
/src/.idea/
